/* @mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}
@mixin shadow-inset($x, $y, $blur, $color) {
  -webkit-box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  box-shadow: inset $x $y $blur $color;
}
@mixin linear-gradient($from, $to) {
  background-color: $to; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0, chrome */
  background-image: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
  background-image: -ms-linear-gradient($from, $to);
  background-image: linear-gradient($from, $to); /* Standard syntax */
}
@mixin background($imgpath,$color: transparent,$position:0 0,$repeat: no-repeat, $size: 100%) {
  background: {
    color: $color;
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}
/*// @mixin */

/* Google Fonts */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
$font-noto : 'Noto Sans KR', sans-serif;
/* //Google Fonts */

//variable
$body-bg : #f6f6f6;
$h-bg : #ffa509;